
{% extends 'main/main.html' %}

{% block title %}Home{% endblock title %}
{% block style %}
<style type="text/css">
    .sub_box
    {
        width: 100%;
        height: 180px;
        border: 1px solid gray;
        box-shadow: 5px 5px gray;

    }
</style>
{% endblock style %}
{% block content %}


    <div class="container">
        <h1>Welcome to Camtours</h1>
    </div>

    <div class="container">
        <div class="row">
            {% if data %}
                {% for i in data %}
                    <div class="col-md-3">
                        <!-- <a href="/employee/{{ i.id }}/?var1={{ i.first_name }} {{ i.last_name }}"> -->
                        <a href="{% url 'employee:employee_detail' i.id i.first_name %}">   
                            <div class="sub_box">
                                {{ i.first_name }} {{ i.last_name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <h1>No data retrieved</h1>
                </div>
            {% endif %}
        </div>

        <div class="pagination_index">
        
            {% if is_paginated %}
            <hr>
                <ul class="pagination" style="margin:0px 0px !important">
                {% if page_obj.has_previous %}
                    <li>
                        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                    </li>
                {% endif %}
                    <li class="">
                        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                    </li>
                {% if page_obj.has_next %}
                    <li>
                        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                    </li>
                {% endif %}
                </ul>
            
            {% endif %}
        </div>

    </div>
{% endblock content %}
    